<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net46" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net46" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net46" />
</packages>